
.title {
    text-align: center;
    margin-bottom: 20px;
    color: #0080ff;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    margin-bottom: 20px;
}

.user-link {
    text-decoration: none;
    color: inherit;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.1);
}

.user-details {
    flex: 1;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ant-card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ant-card-head {
    background-color: #cceeff;
    border-radius: 10px 10px 0 0;
}

.ant-card-body {
    padding: 20px;
    color: #333;
}
